.address {
  margin: auto;

  .h4-title {
    font-size: 34px;
    line-height: 34px;
    font-weight: bold;
    margin-top: 30px;
  }

  .address-title {
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .address-table {
    border-top: 4px solid $themeColor;

    &.ant-table-wrapper {
      .ant-table-thead > tr > th {
        background-color: #fff;
      }

      .ant-table-footer {
        border: none;
        background-color: transparent;
        padding: 13px;
      }
    }
  }

  .table-footer {
    display: inline-block;
    cursor: pointer;
    color: $themeColor;
  }

  .column-default {
    font-weight: bold;
    background-color: #eee;

    p {
      line-height: 22px;
      font-size: 16px;
      color: #333;
    }
  }

  .table-column {
    line-height: 22px;

    p {
      line-height: 22px;
      font-size: 16px;
      color: #333;
    }
  }
  .table-column-edit {
    p {
      cursor: pointer;
      line-height: 22px;
      font-size: 16px;
      color: #333;

      &:hover {
        color: $themeColor;
      }
    }
  }

  .edit {
    cursor: pointer;
    font-size: 18px;
    line-height: 57px;

    &:hover {
      color: $themeColor;
    }
  }

  .empy-address {
    text-align: center;
    padding: 290px 0px;
  }
  .add-new {
    font-weight: bold;
    cursor: pointer;
    color: $themeColor;
  }

  .ant-pagination-item {
    background-color: #fff;
    color: #666;
  }

  .ant-pagination-item:focus,
  .ant-pagination-item:hover {
    border-color: $themeColor;
    background: $themeColor;
    color: #fff !important;
  }
  .ant-pagination-item-active {
    border-color: $themeColor;
    background: $themeColor;
    color: #fff;
  }

  .ant-tabs-tab {
    font-size: 18px;
    padding: 12px;
  }

  .ant-pagination-jump-next,
  .ant-pagination-jump-prev,
  .ant-pagination-next,
  .ant-pagination-prev {
    padding: 0px 10px;
    border: 1px solid #e0e7f0;
    font-size: 16px;
    border-radius: 4px;
    height: 100%;
  }

  .ant-pagination-prev,
  .ant-pagination-next {
    color: #616872;
    font-size: 16px;
  }

  .ant-pagination-item {
    border-radius: 4px;
  }
}

.ant-breadcrumb a {
  color: rgba(0, 0, 0, 0.85) !important;
}

.add-address-modal {
  button:focus {
    outline: none;
  }

  .ant-modal-close-x:focus-visible {
    outline: none;
  }

  .ant-modal-header {
    // padding: 50px 34px 30px 34px;
    .ant-modal-title {
      font-size: 18px;
      font-weight: bold;
    }
  }

  .ant-modal-body {
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 0;
  }
}

.add-modal-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
}

.form-content {
  display: flex;
  justify-content: space-between;

  .form-column {
    width: 100%;

    &:nth-of-type(1) {
      margin-right: 30px;
    }

    label {
      flex-direction: row-reverse;
    }
  }
}

.form-submit {
  width: 100%;
  text-align: center;

  .form-submit-button {
    width: 300px;
    height: 56px;
    font-size: 25px;
    border-color: $themeColor;
    border-radius: 50px;
    background-color: $themeColor;
  }
}
