.contact-us {
  padding: 50px;

  .contact-title {
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 40px;
  }

  .contact-content {
    font-size: 16px;
    line-height: 22px;

    li {
      line-height: 30px;
    }
  }
}