.myAccount {
  padding: 70px 60px 130px 60px;

  .account-title {
    padding-bottom: 30px;
    font-size: 32px;
    font-weight: bold;
  }

  .account-card {
    width: 100%;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;

    a {
      width: calc(33.33% - 50px);
      padding: 40px 25px;
      border-top: 4px solid $themeColor;
      box-shadow: $boxShadow2;
      display: flex;

      &:hover {
        color: $themeColor;
      }

      img {
        width: 45px;
        height: 50px;
        margin-right: 30px;
      }

      h4 {
        font-size: 25px;
      }

      p {
        font-size: 16px;
      }
    }
  }

  .account-notices {
    padding: 30px;
    border-top: 4px solid $themeColor;
    box-shadow: $boxShadow2;

    .Ads-title {
      font-size: 25px;
      font-weight: bold;
      padding-bottom: 60px;
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 25px;
        margin-right: 10px;
      }
    }

    .account-list {
      padding-left: 20px;

      li {
        position: relative;
        line-height: 55px;

        &::before {
          content: '';
          position: absolute;
          top: 25px;
          left: -15px;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: $themeColor;
        }
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .myAccount {
    .account-card {
      a {
        padding: 30px 20px;

        h4 {
          font-size: 20px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .myAccount {
    .account-card {
      a {
        width: calc(33.33% - 20px);
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .myAccount {
    .account-card {
      flex-direction: column;
      a {
        width: 100%;
        margin-bottom: 60px;
        // width: calc(33.33% - 20px);
      }
    }
  }
}
