/* services */
.services-pages {
  width: 100%;

  h3 {
    font-weight: bold;
    color: #333333;
    // padding-top: 160px;
    padding-bottom: 150px;
    font-size: 43px;
    padding: 80px 0;
    font-weight: bold;
  }

  .services-content {
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 70px;

    .services-img {
      width: 542px;
      margin-right: 35px;

      img {
        width: 542px;
      }
    }

    .services-list {
      flex: 1;
      font-size: 24px;
      line-height: 2.5em;
      font-weight: 300;
      color: #333333;

      li::before {
        display: inline-block;
        content: '';
        width: 12px;
        height: 12px;
        margin-left: -12px;
        background: $themeColor;
        transform: rotateZ(45deg);
        position: absolute;
        margin-top: 15px;
        margin-left: -25px;
      }
    }

    .services-pickup-list {
      line-height: 4em;

      li::before {
        margin-top: 27px;
      }
    }
  }

  .services-second {
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 70px;

    .services-list {
      min-width: 1080px;
      font-size: 20px;
      line-height: 40px;

      li::before {
        margin-top: 15px;
        margin-left: -25px;
      }
    }
  }

  .services-or {
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 16px;
    padding-bottom: 40px;

    &::before {
      content: '';
      left: 0;
      top: 13px;
      position: absolute;
      width: 49%;
      border-bottom: 1px solid #999999;
    }

    &::after {
      content: '';
      top: 13px;
      right: 0;
      position: absolute;
      width: 49%;
      border-bottom: 1px solid #999999;
    }
  }

  .services-pickup {
    width: 584px;
    height: 56px;
    line-height: 56px;
    color: #ffffff;
    font-size: 25px;
    background-color: $themeColor;
    border-radius: 50px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
  }
}

.noTransform::before {
  display: inline-block;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -12px;
  background: $themeColor;
  /* transform: rotateZ(45deg); */
  position: absolute;
  margin-top: 19px;
  margin-left: -18px;
}

@media only screen and (max-width: 1400px) {
  .services-pages {
    .services-content {
      .services-list {
        font-size: 20px;
        line-height: 50px;
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .services-pages {
    .services-content {
      flex-direction: column;
      .services-img {
        padding-bottom: 50px;
        // width: 25%;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
}
