.login {
  width: 730px;
  margin: auto;
  background-color: #ffffff;
  box-shadow: $boxShadow;
  margin-bottom: 120px;

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: $themeColor;
    border-color: $themeColor;
  }

  .active {
    color: #ffffff;
    background-color: $themeColor;
  }

  .login-tabs {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    color: #333333;
    font-weight: bold;
    // border: 1px solid #333;
    line-height: 70px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;

    > div {
      flex: 1;
      text-align: center;
    }
  }

  .login-content {
    padding: 40px 70px;

    .login-welcome {
      font-size: 25px;
      font-weight: bold;
      color: #333333;
    }

    .login-personal {
      font-size: 16px;
      // font-weight: bold;
      padding-top: 30px;
      color: #333333;
      padding-bottom: 30px;

      .login-sgin {
        margin-left: 30px;
        color: $themeColor;
        font-size: 16px;
      }
    }

    .login-remmeber-forgot {
      display: flex;
      justify-content: space-between;
    }

    .label {
      font-size: 18px;
      font-weight: bold;
    }

    .login-form-forgot {
      position: absolute;
      right: 0;
      font-size: 16px;
      color: #333333;

      &:hover {
        text-decoration: underline;
      }
    }

    .login-form-button {
      width: 100%;
      height: 60px;
      font-size: 25px;
      background-color: $themeColor;
      border: 1px solid $themeColor;
      color: #ffffff;
      border-radius: 50px;
    }
  }

  .login-error {
    display: flex;
    align-items: center;
    border: 1px solid $themeColor;
    padding: 20px 15px;

    span {
      padding-left: 10px;
    }
  }

  .remember {
    margin-top: -15px;
  }

  .ant-form-item-label
    > label.ant-form-item-required:not(.ant-form-item-required-mark-optional):before {
    display: none;
  }
}

.ant-popover-inner-content {
  border: 2px solid $themeColor !important;
}
.ant-popover-placement-left > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-leftBottom > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-leftTop > .ant-popover-content > .ant-popover-arrow {
  border-color: $themeColor $themeColor transparent transparent !important;
}

.forget-popover {
  p {
    font-size: 16px;

    &:nth-of-type(1) {
      padding-bottom: 15px;
    }
  }
}
