.login {
  width: 730px;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 2px 0px 15px 4px #00000057;

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #b38948;
    border-color: #b38948;
  }

  .active {
    color: #ffffff;
    background-color: #b38948;
  }

  .login-tabs {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    font-size: 25px;
    color: #333333;
    font-weight: bold;
    // border: 1px solid #333;
    line-height: 70px;

    .login-personal {
      flex: 1;
      text-align: center;
    }
    .login-coporate {
      flex: 1;
      text-align: center;
    }
  }

  .login-content {
    padding: 40px 70px;

    .login-welcome {
      font-size: 25px;
      font-weight: bold;
      color: #333333;
    }

    .login-personal {
      font-size: 16px;
      font-weight: bold;
      padding-top: 30px;
      color: #333333;
      padding-bottom: 30px;

      .login-sgin {
        margin-left: 30px;
        color: #b38948;
        font-size: 16px;
      }
    }

    .login-remmeber-forgot {
      display: flex;
      justify-content: space-between;
    }

    .label {
      font-size: 18px;
      font-weight: bold;
    }

    .login-form-forgot {
      position: absolute;
      right: 0;
      font-size: 16px;
      color: #333333;
    }

    .login-form-button {
      width: 100%;
      height: 60px;
      font-size: 25px;
      background-color: #b38948;
      border: 1px solid #b38948;
      color: #ffffff;
      border-radius: 50px;
    }
  }
}
