.privacy {
  padding: 50px;

  .privacy-title {
    line-height: 80px;
  }

  .privacy-content {
    font-size: 16px;
    line-height: 22px;

    li {
      line-height: 30px;
    }
  }
}