.privacy {
  padding: 50px 0px;

  .privacy-title {
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 40px;
  }

  .privacy-content {
    font-size: 16px;
    line-height: 22px;

    ul > li {
      line-height: 30px;
      list-style: auto;
      margin-left: 30px;
    }
    ol > li {
      list-style: disc;
      margin-left: 30px;
      line-height: 30px;
    }
  }
}
