.order-content {
  padding: 10px 0px 50px 0px;
  background: #fff;

  .order-nothing {
    text-align: center;
  }

  .ordersList {
    width: 63%;
    padding: 25px;
    border: 1px solid #333;
  }

  .ordersList {
    width: 100%;
    margin-top: 20px;
    .list-title {
      font-size: 16px;
    }

    .list-content {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      padding-left: 50px;

      .list-news {
        display: flex;
        justify-content: space-between;

        p {
          text-align: center;
          line-height: 35px;

          &:nth-of-type(1) {
            font-weight: bold;
          }

          // &:nth-of-type(2){
          //   max-width: 500px;
          // }
        }

        .list-from {
        }
        .list-status {
          padding: 0px 50px;

          div {
            text-align: center;
          }

          .list-status-icon {
            display: inline-block;
            width: 23px;
            height: 7px;
            background: $themeColor;
            margin-left: 2px;
            transform: skewX(40deg);
          }

          .color666 {
            color: #666666;
          }

          .colorbcbc {
            color: #bcbcbc;
          }
        }
        .list-to {
        }
      }
    }
    .list-details {
      font-size: 20px;
      font-family: Arial;
      font-weight: bold;
      color: $themeColor;
    }
  }

  .order-top {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 50px;

    .order-title {
      font-size: 32px;
      font-weight: bold;
    }

    .order-search {
      width: 490px;
      height: 35px;
      border-radius: 50px;

      input {
        height: 35px;
      }
    }

    .ant-input-group > .ant-input:first-child {
      border-bottom-left-radius: 25px;
      border-top-left-radius: 25px;
    }

    .ant-input-search > .ant-input-group > .ant-input-group-addon .ant-input-search-button {
      border-radius: 0 25px 25px 0;
      height: 35px;
    }
  }

  .order-subTitle {
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
  }

  .empy-order-list {
    text-align: center;
    font-size: 18px;
    line-height: 57px;
    padding-top: 80px;

    .new-pickup {
      cursor: pointer;
      color: $themeColor;
    }
  }

  > p {
    font-size: 16px;
    line-height: 22px;
  }

  .ant-btn-primary {
    background: $themeColor;
    border-color: $themeColor;
    border-radius: 50px 50px 0px 0px;
  }

  .ant-tabs-tab-active {
    .ant-tabs-tab-btn {
      color: #333 !important;
    }
  }

  .ant-tabs-tab:hover {
    color: $themeColor;
  }

  .ant-tabs-ink-bar {
    background: $themeColor;
  }

  .ant-pagination-item:focus,
  .ant-pagination-item:hover {
    border-color: $themeColor;
    color: #fff !important;
  }
  .ant-pagination-item-active {
    border-color: $themeColor;
    background: $themeColor;
    color: #fff;
  }
}
