.topContent {
  width: 100%;
  // height: 30%;
  height: 1060px;
  background: url('../../../asset/write@2x.png') no-repeat;
  background-size: cover;

  // .container {}

  .topContent-WeList {
    width: 100%;
    padding-top: 365px;
    padding-bottom: 230px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    color: #ffffff;

    .topContent-here {
      width: 27%;
      max-width: 460px;
      min-width: 420px;
      font-size: 3em;
      font-weight: 900;
      display: flex;
      align-items: center;
    }

    .topContent-list {
      width: 830px;
      // width: 42%;
      // max-width: 880px;
      min-width: 830px;
      font-size: 28px;
      // font-size: 1.3em;
      font-weight: 500;

      .topContent-item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 80px;
        padding: 0px 30px;
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.8);
        margin-top: 70px;
        color: #ffffff;

        &:nth-of-type(1) {
          margin-top: 0;
        }

        &:hover {
          color: #ffffff;
          background: $themeColor;
        }

        img {
          width: 17px;
          height: 30px;
        }
      }
    }
  }
}

.topcontent-sup {
  background: #f8f8f8;
}
