.contranct {
  padding: 60px 0;

  .title {
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 40px;
  }

  .content-ul {
    font-size: 16px;
    line-height: 22px;

    li {
      line-height: 30px;
    }
  }
}

.fwblod {
  font-weight: bold;
}
.colorred {
  color: red;
}
