/* services */
.services-pages {
  width: 100%;

  .services-pages-content {
    .services-pages-title {
      padding-top: 50px;
      font-weight: bold;
      color: #333333;
      font-size: 43px;
      font-weight: bold;
      padding-bottom: 50px;
    }
  }

  img {
    margin-right: 10px;
  }

  .note-float-left {
    margin-right: 20px;
  }

  // p {
    // line-height: 48px;
  // }

  .service-ueditor-content {
    padding-bottom: 130px;
  }

  .services-or {
    width: 100%;
    margin: auto;
    position: relative;
    text-align: center;
    font-size: 16px;

    &::before {
      content: '';
      left: 0;
      top: 13px;
      position: absolute;
      width: 49%;
      border-bottom: 1px solid #999999;
    }

    &::after {
      content: '';
      top: 13px;
      right: 0;
      position: absolute;
      width: 49%;
      border-bottom: 1px solid #999999;
    }
  }

  .services-pickup {
    display: block;
    width: 584px;
    height: 56px;
    line-height: 56px;
    color: #ffffff;
    font-size: 25px;
    background-color: $themeColor;
    border-radius: 50px;
    text-align: center;
    margin: 40px auto 80px;
    cursor: pointer;

    &:hover {
      color: #ffffff !important;
    }
  }
}
