.details {
  padding: $pagePadding;

  .detail-notes {
    margin-top: 50px;
    padding: 25px 15px;
    border-top: $boxBorderTop;
    box-shadow: $boxShadow;
    background: #fff;

    h3 {
      font-size: 18px;
      padding-bottom: 25px;
    }

    p {
      font-size: 16px;
      line-height: 22px;
    }

    .notes {
      ul > li {
        line-height: 30px;
        list-style: auto;
        margin-left: 30px;
      }
      ol > li {
        list-style: disc;
        margin-left: 30px;
        line-height: 30px;
      }
    }
  }

  .detail-orders {
    padding: 25px 35px;
    margin-top: 50px;
    border-top: $boxBorderTop;
    box-shadow: $boxShadow;
    font-size: 16px;
    background: #fff;

    .order-title {
      display: flex;
      justify-content: space-between;
      padding-bottom: 60px;

      b {
        margin-right: 10px;
      }

      .orders-cancel {
        cursor: pointer;
        width: 80px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 16px;

        &:hover {
          color: $themeColor;
        }
      }
    }

    .order-steps {
      width: 100%;
      display: flex;
      justify-content: space-around;
      overflow: hidden;

      .order-step-item {
        flex: 1;
        overflow: visible;

        &:nth-last-of-type(1) {
          .step-line {
            display: none;
          }
        }

        .order-step-box {
          text-align: center;
          position: relative;
        }

        .step-status {
          text-align: center;
          color: #333;
          font-size: 18px;
          font-weight: 500;
        }

        .step-icon {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 1px solid #bcbcbc;
          margin: 30px auto;
        }

        .step-line {
          width: 91%;
          height: 1px;
          position: absolute;
          background: #bcbcbc;
          transform: translate(60%, -40px);
        }

        .step-content {
          p {
            font-size: 16px;
          }
          // text-align: center;
        }
      }

      .order-step-fished {
        .order-step-box {
          .step-status {
            color: $themeColor;
          }
          .step-icon {
            background: $themeColor;
            border: 1px solid $themeColor;
          }
          .step-content {
            color: $themeColor;
          }
        }
      }
    }

    .order-cancel {
      .order-cancel-item {
        .order-cancel-box {
          text-align: center;

          .cancel-status {
            font-weight: bold;
            color: $themeColor;
          }
          .cancel-icon {
            width: 20px;
            height: 20px;
            margin: 30px auto;
            border-radius: 50%;
            background: $themeColor;
            border: 1px solid $themeColor;
          }
          .cancel-content {
            p {
              color: $themeColor;
              font-size: 16px;
            }
          }
        }

        .order-cancel-desc {
          color: #666;
          padding-top: 30px;
          font-size: 16px;
        }
      }
    }
  }

  .details-sender {
    margin-top: 50px;
    border-top: $boxBorderTop;
    padding: 30px;
    background: #fff;
    box-shadow: $boxShadow;

    .details-sender-title {
      text-align: right;

      span {
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
        width: 80px;
        height: 30px;
        line-height: 30px;
        text-align: center;

        &:hover {
          color: $themeColor;
        }
      }
    }

    .sender-content {
      display: flex;
      color: #333333;
      padding: 30px;
      font-size: 16px;
      line-height: 38px;
      border-bottom: 1px solid #999999;

      .sender-item {
        flex: 1;
        display: flex;

        .sender-item-title {
          width: 180px;
          text-align: center;
        }

        .sender-item-content {
          > p {
            line-height: 38px;
          }
        }
      }
    }

    .detail-payment {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      line-height: 48px;

      .payment-item {
        width: 50%;

        .payment-item-title {
          display: inline-block;
          width: 130px;
          text-align: right;
          font-size: 16px;
        }
        .payment-item-content {
          display: inline-block;
          padding-left: 80px;
          text-align: left;
          font-size: 18px;
        }
      }
    }
  }
}

.ok-btn {
  display: inline-block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  text-align: center;
}

.ant-modal {
  &.Information-modal {
    position: relative;

    .Information-close {
      &::before {
        content: '\2716';
        position: absolute;
        width: 12px;
        height: 12px;
        right: 28px;
        top: 12px;
        font-size: 16px;
        cursor: pointer;
        color: #666;
      }
    }
    .ant-form-item-label {
      label {
        flex-direction: row-reverse;
      }
    }

    h3 {
      padding-bottom: 24px;
    }
    .ant-modal-body {
      padding: 34px 50px;
    }

    .Information-next {
      width: 310px;
      height: 56px;
      border-radius: 50px;
      font-size: 25px;
    }
  }
}

.modal-recipient-footer {
  display: flex;
  font-size: 25px;
  margin-top: -60px;

  & > div {
    flex: 1;
    padding: 0px 30px;

    .modal-submit {
      text-align: left;
    }

    .modal-recipient-back {
      display: inline-block;
      width: 80%;
      min-width: 180px;
      max-width: 310px;
      height: 56px;
      line-height: 56px;
      text-align: center;
      border: 1px solid #999;
      background: #fff;
      border-radius: 50px;
      color: #999;
    }

    .modal-recipient-submit {
      display: inline-block;
      width: 80%;
      min-width: 180px;
      max-width: 310px;
      height: 56px;
      line-height: 56px;
      text-align: center;
      background: $themeColor;
      color: #fff;
      border-radius: 50px;
    }
  }
}

.fill-button-next {
  // width: 300px;
  padding: 0 100px;
  height: 56px;
  border-radius: 25px;
  background: $themeColor;
  color: #fff;
  font-size: 25px;
}

.recipient-button-group {
  .fill-button-back {
    height: 56px;
    color: #aeaeae;
    font-size: 25px;
    padding: 0 100px;
    border-radius: 50px;
    border-color: #aeaeae;
    background: #fff;
  }

  .fill-button-submit {
    color: #fff;
    height: 56px;
    font-size: 25px;
    padding: 0 100px;
    border-radius: 50px;
    background: $themeColor;
  }
}
