
@media screen and (min-width: 1500px) and (max-width: 1820px) {
  .topContent-list {
    font-size: 1.01em;
  }

  .topContent-item {
    line-height: 70px;
  }

  .topContent-here {
    width: 25%;
    margin-left: 5%;
  }

  /* services */
  .services-list {
    font-size: 25px;
    line-height: 40px;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1500px) {
  .topContent-list {
    width: 60%;
    font-size: 20px;
  }

  .topContent-item {
    line-height: 70px;
  }

  .topContent-here {
    width: 28%;
    margin-left: 2%;
  }

  /* services */
  .services-img {
    /* width: 400px; */
    width: 40%;
    margin-right: 0;
  }

  .services-list {
    font-size: 20px;
    line-height: 35px;
  }

  .services-list > li::before {
    margin-top: 12px;
  }
}
