.header {
  width: 100%;
  /* height: 160px; */
  height: 100px;
}

.header a {
  padding: 2.5em 1em;
}


.topContent {
  width: 100%;
  height: 30%;
  /* height: calc(100vh-30px); */
  background: url('../../asset/write@2x.png') no-repeat;
  background-size: cover;
}

.topContent-WeList {
  width: 75%;
  padding-top: 17%;
  padding-bottom: 17%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  color: #ffffff;
}

.topContent-here {
  width: 22%;
  font-size: 3rem;
  margin-left: 10%;
  margin-top: 7%;
  /* font-family: Barlow; */
  font-weight: 800;
}

.topContent-list {
  width: 44.5%;
  /* font-size: 28px; */
  font-size: 1.26em;
}

.topContent-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 80px;
  padding: 0px 30px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  margin-top: 70px;
  color: #ffffff;
}

.topContent-item:nth-of-type(1) {
  margin-top: 0;
}

.topContent-item > img {
  width: 17px;
  height: 30px;
}

.triangle {
  display: block;
  margin: auto;
  margin-bottom: -27px;
}

.listContent {
  background: #ffffff;
  height: 1093px;
  background: #f8f8f8;
}
.content {
  width: 80%;
  margin: auto;
}

.content > h3 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  font-family: Barlow;
  font-weight: 800;
  color: #333333;
  padding: 70px 0px;
}

.content > span {
  font-size: 23px;
  font-family: Helvetica Neue;
  font-weight: 400;
  color: #666666;
  line-height: 30px;
}

.newList {
  width: 100%;
  display: flex;
  padding-top: 85px;
}

.newList:nth-last-of-type(1) {
  padding-bottom: 35px;
}

.newList > img {
  width: 208px;
  height: 139px;
  margin-right: 40px;
}

.newList span {
  font-size: 20px;
  font-family: Helvetica Neue;
  font-weight: 400;
  color: #666666;
  line-height: 30px;
}

.title {
  font-size: 24px;
  font-family: Barlow;
  font-weight: 800;
  color: #b38948;
  line-height: 40px;
}

/*  oursericer */

.ourSericer {
  width: 100%;
  background: #f1f1f1;
  color: #f1f1f1;
}
.ourSericer h3 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  /* padding-top: 10%; */
  padding: 67px 0px;
}

.ourSericer-colContent {
  width: 88%;
  /* height: 975px; */
  padding-bottom: 160px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid #b38948; */
}

.ourSericer-content {
  /* width: 513px; */
  width: 32%;
  padding-top: 2.3%;
  padding-bottom: 1%;
}

.ourSericer-content span {
  display: block;
  height: 30px;
  text-align: center;
  font-size: 24px;
  font-family: Arial;
  font-weight: 400;
  color: #fefefe;
  line-height: 25px;
}

.button {
  width: 25%;
  height: 49px;
  font-size: 16px;
  line-height: 47px;
  background: #b38948;
  border: 1px solid #b38948;
  border-radius: 23px;
  margin: auto;
  margin-top: 15%;
  text-align: center;
  color: #ffffff;
}
.button:hover {
  color: #007bff;
}

.bg1 {
  background: url('../../asset/legal.png') no-repeat;
  background-size: cover;
}

.bg2 {
  background: url('../../asset/property.png') no-repeat;
  background-size: cover;
}

.bg3 {
  background: url('../../asset/legal2.png') no-repeat;
  background-size: cover;
}

/* services */
.services {
  width: 80%;
  margin: auto;
  font-size: 43px;
  font-weight: bold;
  color: #333333;
  padding-top: 160px;
  padding-bottom: 150px;
}

.services h3 {
  padding: 80px 0;
  font-weight: bold;
}

.services-content {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 70px;
}

.services-img > img {
  width: 100%;
}

.services-img {
  width: 30%;
  /* width: 545px;
  height: 450px; */
  margin-right: 35px;
}

.services-list {
  width: 65%;
  font-size: 24px;
  line-height: 60px;
  font-weight: 300;
  color: #333333;
}

.services-list > li::before {
  display: inline-block;
  content: '';
  width: 12px;
  height: 12px;
  margin-left: -12px;
  background: #b38948;
  transform: rotateZ(45deg);
  position: absolute;
  margin-top: 25px;
  margin-left: -25px;
}

.noTransform::before {
  display: inline-block;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -12px;
  background: #b38948;
  /* transform: rotateZ(45deg); */
  position: absolute;
  margin-top: 19px;
  margin-left: -18px;
}

.services-second {
  width: 65%;
  font-size: 20px;
  line-height: 40px;
  font-weight: 300;
  color: #333333;
}

/* page-footer */
.page-footer {
  width: 100%;
  background: #414141;
  padding-top: 75px;
  padding-left: 350px;
  padding-bottom: 55px;
  color: #ffffff;
}

.footContent > img {
  width: 150px;
  height: 110px;
  margin-top: 45px;
  margin-right: 14%;
}

.footContent ul li {
  font-size: 21px;
  line-height: 40px;
}

.footContent ul li img {
  margin-right: 20px;
  width: 25px;
  height: 25px;
}

.footContent {
  width: 85%;
  display: flex;
  /* justify-content: space-evenly; */
}

@media screen and (min-width: 1500px) and (max-width: 1820px) {
  .topContent-list {
    font-size: 1.01em;
  }

  .topContent-item {
    line-height: 70px;
  }

  .topContent-WeList {
    padding-top: 20%;
    padding-bottom: 20%;
  }

  .topContent-here {
    width: 25%;
    margin-left: 5%;
  }

  /* services */
  .services-list {
    font-size: 25px;
    line-height: 40px;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1500px) {
  .topContent-list {
    width: 60%;
    font-size: 20px;
  }

  .topContent-item {
    line-height: 70px;
  }

  .topContent-WeList {
    padding-top: 20%;
    padding-bottom: 20%;
  }

  .topContent-here {
    width: 28%;
    margin-left: 2%;
  }

  /* services */
  .services-img {
    /* width: 400px; */
    width: 40%;
    margin-right: 0;
  }

  .services-list {
    font-size: 20px;
    line-height: 35px;
  }

  .services-list > li::before {
    margin-top: 12px;
  }
}
