.clickModal {
  font-size: 18px;
  color: #333333;
}

.modal-header {
  font-size: 18px;
  font-weight: bold;
}

// ------

.otherHeader {
  width: 100%;
  background: #ffffff;
  position: fixed;
  z-index: 99;
  border-bottom: 1px solid #474747d7;

  .header-nav {
    padding-top: 20px;
    background: #ffffff00;
  }

  .header-logo {
    a {
      display: flex;
      align-items: center;

      .title-font {
        margin-left: 25px;
        color: #474747;
        font-size: 27px;
        font-weight: 700;
      }
    }

    .logo {
      display: flex;
      flex-direction: row;

      .logo-img {
        width: 90px;
        height: 60px;
        position: relative;
        margin-bottom: 10px;

        img {
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }

  .header-ul {
    margin-bottom: -20px;
  }

  .navbtn {
    color: #474747;
    font-size: 16px;
    a {
      color: #474747;
    }
  }

  .active {
    border-bottom: 4px solid #474747;
  }

  .nav-link {
    padding: 1.5rem 1rem;
  }

  .navbar-toggler {
    padding: 0;
  }

  .become {
    width: 190px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background: #b38948;
    border-radius: 15px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
  header {
    .header-logo {
      a {
        .title-font {
          font-size: 22px;
        }
      }

      .logo {
        .logo-img {
          width: 50px;
          height: 34px;
        }
      }
    }
  }
}
