.headerContent {
  width: 100%;
  // height: 120px;
  position: absolute;
  padding-top: 25px;
  border-bottom: 1px solid #ffffff70;
  background: #00000080;

  // .container{}

  .content {
    display: flex;
    justify-content: space-between;
    justify-self: flex-start;
    align-items: center;
    color: #ffffff;
    font-weight: 700;

    .navLogo {
      width: 30.8%;

      img {
        width: 100%;
        min-width: 200px;
        // margin-top: -15px;
      }
    }

    .navLink {
      display: inline-flex;
      color: #ffffff;
      justify-content: space-between;
      align-items: center;

      a {
        color: #ffffff;
      }

      li {
        font-size: 20px;
        padding: 31px 20px;
        margin-bottom: -25px;

        &:nth-last-of-type(1) {
          padding-right: 0;
        }
      }

      .active {
        border-bottom: 4px solid #fff;
      }

      .become {
        text-align: center;
        line-height: 36px;
        width: 210px;
        height: 38px;
        color: #fff;
        font-weight: bold;
        background: #b38948;
        border-radius: 15px;
        cursor: pointer;
        font-size: 20px;
      }
    }
  }
}

.clickModal {
  font-size: 18px;
  color: #333333;
}

.modal-header {
  font-size: 18px;
  font-weight: bold;
}

// ------

header {
  width: 100%;
  background: #000000a8;
  // position: fixed;
  // z-index: 99;
  border-bottom: 1px solid #ffffffa1;

  .header-nav {
    padding-top: 20px;
    background: #ffffff00;
  }

  .header-logo {
    a {
      display: flex;
      align-items: center;

      .title-font {
        margin-left: 25px;
        color: #ffffff;
        font-size: 27px;
        font-weight: 700;
      }
    }

    .logo {
      display: flex;
      flex-direction: row;

      .logo-img {
        width: 90px;
        height: 60px;
        position: relative;
        margin-bottom: 10px;

        img {
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }

  .header-ul {
    margin-bottom: -20px;
  }

  .navbtn {
    color: #fff;
    font-size: 16px;
    a {
      color: #fff;
    }
  }

  .active {
    border-bottom: 4px solid #fff;
  }

  .nav-link {
    padding: 1.5rem 1rem;
  }

  .navbar-toggler {
    padding: 0;
  }

  .become {
    width: 190px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background: #b38948;
    border-radius: 15px;
    cursor: pointer;
  }

  .login-sgin {
    width: 130px;
    position: fixed;
    right: 9%;
    top: 13px;
    display: flex;
    justify-content: space-between;
    text-align: center;

    .logIn,
    .signUp {
      // width: 55px;
      font-size: 14px;
      padding-left: 10px;
      position: relative;


      &::before {
        content: '';
        position: absolute;
      }
    }

    .logIn {
      &::before{
        width: 8px;
        height: 11px;
        top: 5px;
        left: -5px;
        background: url('../../asset/Log-in.jpg') no-repeat;
      }
    }

    .signUp {
      &::before{
        width: 12px;
        height: 12px;
        top: 5px;
        left: -5px;
        background: url('../../asset/Sign-up.jpg') no-repeat;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  header {
    .header-logo {
      a {
        .title-font {
          font-size: 22px;
        }
      }

      .logo {
        .logo-img {
          width: 50px;
          height: 34px;
        }
      }
    }
  }
}
