.header {
  width: 100%;
  background: #000000a8;

  .header-loginbox {
    height: 33px;
    display: flex;
    justify-content: flex-end;

    a {
      padding: 10px 23px;
      color: #333;
      line-height: 30px;
    }

    .header-login,
    .header-signup {
      display: flex;
      align-items: center;
      font-size: 14px;

      img {
        width: 15px;
        // height: 20px;
        margin-right: 10px;
      }
    }

    .login-user {
      font-size: 14px;
      padding: 10px 23px;
      line-height: 30px;

      img {
        width: 15px;
        margin-right: 10px;
      }
    }
  }

  .header-navbar,
  .other-navbar {
    display: flex;
    justify-content: space-between;
    // color: #ffffff;

    .header-navBrand {
      a {
        display: flex;
        align-items: center;

        .logo-img {
          // width: 90px;
          // height: 60px;
          width: 5.5em;
          height: 4em;
          position: relative;
          margin-bottom: 10px;

          img {
            display: inline-block;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
          }
        }

        .title-font {
          padding-top: 6px;
          margin-left: 25px;
          color: #ffffff;
          white-space: nowrap;
          font-size: 1.5em;
          font-weight: 700;
        }
      }
    }

    .header-nav-menu {
      margin: 0;
      height: 100%;
      display: flex;
      position: relative;

      & > li {
        box-sizing: border-box;
        padding: 0.5em 1em;

        &:nth-last-of-type(1) {
          display: flex;
          align-items: center;
        }

        a {
          font-size: 1rem;
        }
      }

      .header-menu-down {
        // position: relative;
        display: flex;

        img {
          width: 20px;
        }

        .header-menu-sub-list {
          width: 460px;
          background-color: #414141;
          transform: translate(-40%, 73px);
          position: absolute;

          a {
            color: #fff;

            &:hover {
              color: $themeColor !important;
            }
          }

          .currentPage {
            color: $themeColor;
          }

          .menu-item {
            margin: 0px 17px;
            font-size: 16px;
            border-bottom: 1px solid #616161;
          }
        }
      }

      .become {
        padding: 0;
        margin: 0;
        width: 190px;
        height: 35px;
        line-height: 32px;
        font-size: 16px;
        text-align: center;
        color: #fff;
        font-weight: bold;
        background: $themeColor;
        border-radius: 15px;
        cursor: pointer;
      }
    }
  }

  .header-navbar {
    .header-nav-menu {
      a,
      span {
        color: #fff;
      }
      .active {
        border-bottom: 4px solid #fff;
      }
    }
  }

  .header-nav-menu {
    a,
    span {
      color: #414141;
    }
    .active {
      border-bottom: 4px solid #414141;
    }
  }

  .other-navbar {
    .header-navBrand {
      a {
        .title-font {
          color: #414141;
        }
      }
    }
    // .menu-item {
    //   color: #fff;
    // }
  }
}

@media screen and (max-width: 1200px) {
  .header {
    .header-navbar,
    .other-navbar {
      .header-navBrand {
        a {
          .logo-img {
            width: 4.5em;
            height: 3em;
          }
          .title-font {
            font-size: 1.2em;
          }
        }
      }

      .header-nav-menu {
        .header-menu-down {
          .header-menu-sub-list {
            .menu-item {
              margin: 0px 12px;
              font-size: 16px;
              border-bottom: 1px solid #616161;
            }
          }
        }
        li {
          padding: 0.5em 0.6em;
        }
      }
    }
  }
}
