.step-successful {
  padding: 80px 50px;
  border-top: 4px solid $themeColor;
  box-shadow: $boxShadow;
  margin-bottom: 125px;

  .step-successful-img {
    display: block;
    margin: auto;
  }

  .step-scussful-text {
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    color: #333;
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .step-text {
    padding-bottom: 40px;
  }

  .pay-status {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 60px;
    text-align: center;
  }

  .step-failed {
    font-size: 18px;
    line-height: 27px;
    color: $errorColor;
    text-align: center;
    padding-bottom: 50px;
  }

  .step-button-group {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;

    button {
      width: 18rem;
      height: 56px;
      border-radius: 28px;
      font-size: 25px;
    }

    .success-back {
      color: #aeaeae;
      background-color: #fff;
      & :hover {
        color: #b38948;
        border-color: #b38948;
      }
    }
    .success-order {
      background-color: $themeColor;
      color: #fff;
    }
  }

  .step-pickup-again {
    width: 352px;
    height: 56px;
    background-color: #b38948;
    border-radius: 28px;
    font-size: 25px;
    color: #ffffff;
    display: block;
    margin: auto;
  }

  .step-service {
    font-weight: bold;
    margin-top: 100px;
    font-size: 18px;
    color: #333;
  }

  .step-decribe {
    padding-top: 20px;
    font-size: 16px;
    line-height: 22px;

    ul > li {
      line-height: 30px;
      list-style: auto;
      margin-left: 30px;
    }
    ol > li {
      list-style: disc;
      margin-left: 30px;
      line-height: 30px;
    }
  }

  .error-back {
    margin: 0 auto;
    background: #fff;
    color: #333;
    width: 18rem;
    height: 56px;
    border-radius: 28px;
      font-size: 25px;
    &:hover {
      background-color: #fff;
      color: #b38948;
    }
  }
}

.bpay-successful {
  .bpay-img {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 auto;

    .step-successful-bpay {
      width: 74px;
      height: 110px;
      margin-right: 25px;
    }

    .bpay-img-desc {
      padding: 16px 24px;
      border: 2px solid #0d306c;
    }
  }

  .bpay-desc {
    font-size: 16px;
    line-height: 34px;
    color: #333;
    text-align: center;
    padding-top: 40px;
  }
}
