.cooperate-content {
  width: 93%;
  margin: auto;
  padding: 50px 0px;
  display: flex;
  justify-content: space-between;

  .cooperate-form {
    width: 64%;
    padding: 30px 50px;
    background-color: #fff;
    box-shadow: $boxShadow;
    border-top: 4px solid $themeColor;

    .cooperate-describe {
      padding-bottom: 30px;
    }

    .ant-input-group.ant-input-group-compact {
      display: flex;
    }

    .ant-form-item-control-input-content {
      display: flex;
    }

    .form-submit {
      width: 100%;
      margin: 0 auto;
      font-size: 25px;
      background-color: $themeColor;
      color: #fff;
      height: 56px;
      border-radius: 50px;
      display: block;
    }
  }

  .cooperate-why {
    width: 33%;
    max-width: 355px;
    padding: 30px;
    margin-left: 50px;
    border-top: 4px solid $themeColor;
    background-color: #fff;
    box-shadow: $boxShadow;

    h3 {
      font-size: 24px;
    }

    h4 {
      padding-bottom: 30px;
      font-size: 18px;
    }

    p {
      padding-top: 30px;
      font-size: 16px;
    }

    .cooperate-feature {
      padding-left: 20px;
      padding-bottom: 100px;
      
      li {
        line-height: 40px;
        padding-top: 20px;
        list-style: disc;
      }
    }

    .cooperate-note {
      padding-left: 20px;

      li {
        // padding-top: 30px;
        line-height: 22px;
        list-style: disc;
        font-size: 16px;
      }
    }

    .step {
      // padding-top: 100px;
      padding-bottom: 20px;
    }
    .step-ul {
      padding-left: 20px;
      padding-bottom: 80px;

      li {
        // padding-top: 25px;
        list-style: decimal;
        line-height: 22px;
      }
    }
  }
}
