.cooperate-content {
  width: 80%;
  margin: auto;
  padding: 50px 0px;
  display: flex;
  justify-content: space-between;

  .cooperate-form {
    width: 65%;
    padding: 30px 50px;
    background-color: #fff;
    box-shadow: $boxShadow;
    border-top: 4px solid #b38948;

    .form-submit {
      width: 70%;
      margin: 0 auto;
      background-color: #b38948;
      color: #fff;
      height: 56px;
      border-radius: 50px;
      display: block;
    }
  }

  .cooperate-why {
    flex: 1;
    padding: 30px;
    margin-left: 50px;
    border-top: 4px solid #b38948;
    background-color: #fff;
    box-shadow: $boxShadow;

    h3 {
      font-size: 24px;
    }

    h4 {
      padding-top: 30px;
      font-size: 18px;
    }

    p {
      padding-top: 30px;
      font-size: 16px;
    }

    .cooperate-feature {
      padding-left: 20px;
      li {
        line-height: 40px;
        padding-top: 20px;
        list-style: disc;
      }
    }

    .cooperate-note {
      padding-left: 20px;
      li {
        padding-top: 30px;
        list-style: disc;
        font-size: 16px;
      }
    }

    .step {
      padding-top: 100px;
    }
    .step-ul {
      padding-left: 20px;
      li {
        // line-height: 25px;
        padding-top: 25px;
        list-style: decimal;
      }
    }
  }
}
