/* page-footer */
.page-footer {
  width: 100%;
  background: #414141;
  padding-top: 75px;
  padding-bottom: 55px;
  color: #ffffff;

  .container {
    width: 60%;
    display: flex;

    .footContent {
      width: 90px;
      display: flex;
      align-items: center;
      margin-right: 10%;

      img {
        width: 100px;
        // width: 90px;
        // height: 60px;
      }
    }

    ul {
      li {
        font-size: 21px;
        line-height: 40px;

        img {
          margin-right: 20px;
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .page-footer {
    .container {
      
      .footContent {
        margin-right: 10%;
      }

      ul {
        li {
          font-size: 20px;
        }
      }
    }
  }
}


@media only screen and (max-width: 768px) {
  .page-footer {
    .container {
      width: 80%;
      flex-direction: column;
      
      .footContent {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;

        img {
          display: block;
          margin: auto;
        }
      }
    }
  }
}