.step3 {
  padding: 40px 80px;
  border-top: 4px solid $themeColor;
  box-shadow: $boxShadow;
  margin-bottom: 125px;

  .step3-title {
    font-size: 25px;
    font-weight: bold;
    color: #333;
    padding-bottom: 30px;
  }

  .step3-item {
    display: flex;
    margin-bottom: 40px;

    .step3-decribe {
      width: 200px;
      min-width: 200px;
      text-align: left;
      font-weight: bold;
    }

    .step-content {
      flex: 1;

      .step-content-time {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: dashed 3px #c9c9c9;
        padding-bottom: 40px;

        .time-box {
          width: 176px;
          height: 52px;
          text-align: center;
          border: 1px solid #999999;

          &:nth-of-type(1) {
            p {
              line-height: 25px;
            }
          }
          p {
            line-height: 50px;
            font-size: 16px;
          }

          .today {
            font-size: 11px;
            color: #9f9f9f;
            line-height: 20px;
          }
        }

        .time-active {
          width: 176px;
          height: 52px;
          text-align: center;
          background-color: $themeColor;
          color: #fff;
        }
      }

      .step-delivered {
        display: flex;
        flex-wrap: wrap;

        .delivered-time {
          width: 50%;
          padding-top: 25px;
        }

        .delivered-active {
          width: 50%;
          padding-top: 25px;
          color: $themeColor;
        }

        .disabled-time {
          width: 50%;
          padding-top: 25px;
          color: #33333380;
        }
      }
    }

    .step3-card-visa {
      display: flex;

      .step3-card-visa-left {
        flex: 1;
        margin-right: 15px;
      }

      .step3-card-visa-right {
        flex: 1;
      }
    }

    .step3-visa-tip {
      font-size: 14px;
      margin-left: 25px;
      color: #0113b3;
    }

    .step3-visa-form {
      width: 80%;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      padding: 15px 30px;
    }

    .step3-corporate-form {
      padding: 20px 30px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }

    .step3-bpay-div {
      position: relative;
      overflow: hidden;
      margin-top: 10px;
      margin-left: 25px;

      &::before {
        content: ' ';
        position: absolute;
        display: inline-block;
        left: 0;
        top: 0;
        width: 32px;
        height: 20px;
        background: $themeColor;
      }

      .step3-bpay-icon {
        width: 32px;
        height: 20px;
        position: absolute;
        left: 0;
        top: 0;
        padding-top: 2px;
        background: $themeColor;

        img {
          width: 16px;
          height: 16px;
          display: block;
          margin: auto;
        }
      }

      .step3-bpay-dirscrbe {
        border-radius: 5px;
        border: solid 1px #b38948;
        padding: 20px 45px;

        p {
          color: #333333;
          font-size: 13px;
          line-height: 32px;
        }
      }
    }

    .step-charge {
      flex: 1;
      color: rgba(51, 51, 51, 0.5);
      font-size: 16px;

      .step3-charge-tip {
        color: #0113b3;
        font-size: 14px;
      }
    }

    .payment-code {
      display: flex;
      padding: 45px 0;
      border-top: 3px dashed #c9c9c9;
      margin-top: 36px;

      > div {
        width: 200px;
        font-size: 16px;
        line-height: 25px;
      }

      .code {
        width: 280px;
      }
    }

    .ant-radio-inner:after {
      background-color: $themeColor;
    }

    .ant-radio-checked .ant-radio-inner {
      border-color: $themeColor;
    }

    .ant-radio-inner {
      border: 1px solid $themeColor;
    }
  }

  .step-agree {
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    // margin-top: 120px;
    margin-top: 50px;

    .agree {
      margin-right: 10px;
    }

    .contract {
      color: $themeColor;
      font-weight: bold;
    }

    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: $themeColor;
      border-color: $themeColor;
    }
    .ant-checkbox-checked:after {
      border: 1px solid $themeColor;
    }
  }

  .button-group {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .button-back {
    width: 300px;
    height: 56px;
    color: #aeaeae;
    background-color: #fff;
    text-align: center;
    font-size: 25px;
    border-radius: 50px;
    border-color: #aeaeae;

    &:hover {
      background-color: #fff;
      color: #a4a4a4;
    }
  }

  .button-pay {
    width: 300px;
    height: 56px;
    color: #fff;
    background-color: $themeColor;
    border-color: $themeColor;
    border-radius: 50px;
    font-size: 25px;
  }
}

.ant-tooltip-arrow-content {
  width: 8px !important;
  height: 8px !important;
  background: $themeColor !important;
}

.ant-tooltip-inner {
  background: rgb(255, 255, 255);
  border: 1px solid $themeColor;
}

.paypal-modal-footer {
  text-align: right;
  padding-top: 40px;

  .paypal-modal-cancel {
    color: #47474733;
    font-size: 16px;
    border: none;
    box-shadow: none;
    background: #fff;
  }

  .paypal-modal-ok {
    background: #fff;
    font-size: 16px;
    color: #474747;
    box-shadow: none;
    border: none;
  }
}
