.add-address-modal {
  .ant-modal-header {
    display: none;
  }

  .ant-modal-body {
    padding-top: 50px;
  }

  .ant-modal-close-x {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
  }

  .ant-table-selection-column {
    padding-right: 40px;
    padding-left: 40px;
  }

  .ant-pagination-item-active {
    background-color: $themeColor;
    color: #fff;
  }

  .ant-table-tbody>tr.ant-table-row-selected>td {
    border-color: #c9c9c9;
  }
}

.form-modal-body {
  .title-search {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    .select-from-your-address-book {
      font-size: 18px;
      line-height: 35px;
      font-weight: bold;
      color: #333333;
    }

    .search {
      width: 344px;
      border-radius: 25px;
      height: 35px;
    }

    .ant-btn-primary {
      background: $themeColor;
      border-color: $themeColor;
    }

    .ant-input-group > .ant-input:first-child {
      border-bottom-left-radius: 25px;
      border-top-left-radius: 25px;
    }

    .ant-input-search > .ant-input-group > .ant-input-group-addon .ant-input-search-button {
      border-radius: 0 25px 25px 0;
    }
  }

  .ant-table-thead > tr > th {
    background-color: #eee;
  }
  .ant-table-tbody > tr > td {
    border-bottom: 2px dashed #c9c9c9;
  }

  .ant-table-tbody > tr {
    &:nth-last-of-type(1) {
      td {
        border-bottom: none;
      }
    }
  }

  .default {
    background-color: #b38948;
    border-radius: 19px;
    font-size: 12px;
    color: #ffffff;
    font-weight: 400;
    padding: 4px 8px;
  }

  .table-column {
    font-size: 16px;
  }

  .form-submit {
    margin-top: 40px;
    width: 308px;
    height: 56px;
    background-color: #b38948;
    border-radius: 28px;
    color: #ffffff;
    display: block;
    margin: 0 auto;
    font-size: 25px;
  }

  .ant-pagination-item {
    border-radius: 50%;
    border-color: $themeColor;

    &:hover {
      border-color: $themeColor;
    }
  }

  .ant-pagination-prev,
  .ant-pagination-next {
    display: flex;
    align-items: center;
  }

  .ant-pagination-disabled {
    .anticon {
      color: #dedede;
    }
  }
}
