.App {
  background: #ffffff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a:hover {
  /* color: #fff !important; */
}

.header-nav-menu > li > a:hover {
  color: #b38948 !important;
}

/* message 提示  */
.ant-message-custom-content {
  display: flex;
  align-items: center;
}

.ant-input-password-icon {
  font-weight: bold;
}

/* paination */
/* a:not([href]):not([class]):hover {
  color: #fff !important;
} */

.ant-table-tbody > tr.ant-table-row-selected > td {
  background-color: transparent !important;
}

@media only screen and (max-width: 1400px) {
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 768px) {
}
