body {
  min-width: 992px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
}

code {
  font-family: 'source-code-pro', 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
}
*,
p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

.nav-link:focus,
.nav-link:hover,
.modal-header .close {
  outline: none;
}

ul,
li {
  list-style: none;
}

.container {
  width: 70%;
  // min-width: 1290px;
  // width: auto;
  // max-width: 1690px;
  padding: 0;
  margin: 0;
  margin: auto;
  display: block;
}

.h4-title {
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: 32px;
  font-weight: bold;
}

.triangle {
  display: block;
  margin: auto;
}
a {
  color: #333;
}

a:link {
  text-decoration: none;
}

a:hover {
  // color: $themeColor !important;
  // text-decoration: none !important;
}

.ant-btn:focus,
.ant-btn:hover {
  color: #fff;
  background-color: $themeColor;
  border-color: $themeColor;
}

.ant-modal-header {
  border-bottom: none;
}

.ant-radio-inner {
  border: 1px solid $themeColor;
}
.ant-radio-inner:after {
  background-color: $themeColor;
}

.ant-radio-checked .ant-radio-inner {
  border-color: $themeColor;
}

.ant-radio-inner {
  border: 1px solid $themeColor;
}

.ant-radio-input:focus + .ant-radio-inner,
.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner {
  border-color: $themeColor;
}

@media screen and (max-width: 1440px) {
  .container {
    width: 80%;
  }
}
