body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul,
li {
  list-style: none;
}

.container {
  width: 88.5%;
  // min-width: 1290px;
  // width: auto;
  max-width: 1690px;
  padding: 0;
  margin: 0;
  margin: auto;
  display: block;
}

.triangle {
  display: block;
  margin: auto;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: none !important;
}

@media screen and (max-width: 1440px) {
  .container {
    width: 92%;
  }
}
