.layout-header {
  height: auto;
  background: #000000a8;
  color: #ffffff;
  position: fixed;
  z-index: 1;
  width: 100%;
}

// .ant-layout-content {
//   min-height: calc(100vh - 60px);
//   background: '#fff' !important;
//   padding-bottom: 50px;
// }